<html>
<head>
    <title>
        Sign up to Website
    </title>
</head>
<body>
    <div>
        Sign up for the website!
    </div>
    <form method="POST" action="/signup">
        <label for="userName">Username:</label>
        <input type="text" name="userName" id="userName"/> <br><br>
        <label for="password">Password:</label>
        <input type="text" name="password" id="password"/> <br>
        <label for="rePassword">Re-enter Password:</label>
        <input type="text" name="rePassword" id="rePassword"/> <br>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>